name: fzshell release

on:
  push:
    tags:
      - "*"

jobs:
  release:
    name: Create release
    runs-on: ubuntu-latest
    steps:
      - name: Create Release
        uses: ncipollo/release-action@v1.7.3
        with:
            token: ${{ secrets.GITHUB_TOKEN }}
  build_upload:
    name: Release Go Binary
    needs: [release]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, darwin, freebsd, openbsd, windows]
        goarch: [amd64, arm64]
        exclude:
          - goos: freebsd
            goarch: arm64
          - goos: openbsd
            goarch: arm64
    steps:
      - uses: actions/checkout@v3
      - name: set short commit
        id: short_commit
        run: echo "SHORT_COMMIT=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
      - name: set version
        id: version
        run: echo "FZSHELL_VERSION=$(git describe --abbrev=0 2> /dev/null)" >> $GITHUB_ENV
      - name: Build and upload artifacts
        uses: wangyoucao577/go-release-action@v1.28
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goversion: 1.18
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}
          binary_name: "fzshell"
          ldflags: > 
            -s -w -X main.version=${{ env.FZSHELL_VERSION }} -X main.revision=${{ env.SHORT_COMMIT }}
